html{
  color: #333;
  background: #ffefe0;

font-size: 14px;
line-height: 1.8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: #333;
}

li{
  list-style-position: inside;
}
.mb_s{
  margin-bottom: 10px;
}

.mb_m{
  margin-bottom: 20px;
}

.mb_l{
  margin-bottom: 40px;
}


a.cp_btn {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #FF5722;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border: double 4px #FF5722;
	border-radius: 50%;
	vertical-align: middle;
	overflow: hidden;
	transition: .6s;
}
a.cp_btn:hover {
	transform: rotateY(360deg);
}
