html{
  color: #333;
  background: #ffffff;

font-size: 18px;
line-height: 1.5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p.img_center{
  text-align: center;
}

.btns{
  text-align: center;



}
.btn{
    width: 8%;
  display: inline-block;
}

.btn img{
  max-width: 90%;

}




footer{
      position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

p.text_center {
    text-align: center;
}
