html{
  color: #333;
  background: #ffffff;

font-size: 18px;
line-height: 1.5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


footer{
  position:fixed;
    bottom: 0; /*下に固定*/
}

.text_center {
    text-align: center;
}
